.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Hero {
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Hero h1 {
  font-size: 3rem;
  color: white;
}

.Hero button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #ff6f61;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Hero button:hover {
  background-color: #d04a3a;
}